@import url("https://use.typekit.net/hlh5twe.css");
:root {
  --text: rgba(67, 80, 96);
  --light_blue: rgb(98, 168, 229, 0.2);
  --med_blue: rgb(98, 168, 229, 0.5);
  --teal: rgba(0, 131, 138, 0.6);
  --cornflower: rgb(98, 168, 229);
  --hot_pink: rgb(255, 72, 176, 0.8);
  --blush: rgba(255, 72, 176, 0.05);
  --med_pink: rgba(255, 72, 176, 0.35);
  --bluegray: rgba(67, 80, 96, 0.5);
}
body {
  font-family: "futura-pt", sans-serif;
  /* background-color: rgba(98, 168, 229, 0.02); */
  color: var(--text);
}
.col-sm-2 {
  background-color: var(--light_blue);
}
@media only screen and (min-width: 450px) {
  .col-sm-10 {
    height: 100vh;
  }
}
h1 {
  padding-top: 0.5em;
}
.col-sm-2 {
  padding: 2em;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}
content {
  padding: 0.5em;
}
h1 {
  font-size: 2.25em;
}
a {
  color: var(--teal);
}
a:hover {
  color: var(--teal);
}
.success {
  color: var(--teal);
}
.warning {
  color: var(--cornflower);
}
.danger {
  color: var(--hot_pink);
}
span {
  background-color: var(--blush);
}
span.light {
  background-color: transparent;
  color: var(--bluegray);
}

.genre {
  margin-left: 20px;
  margin-top: 20px;
}

.submitBtn {
  background-color: var(--light_blue);
  color: var(--text);
  width: 6em;
  outline: none;
  border: none;
}
.submitBtn:hover {
  background-color: var(--med_pink);
}
.submitBtn:focus {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
}
.errorDiv {
  display: flex;
  align-items: center;
  justify-content: start;
}
.errorMsg {
  font-style: italic;
  color: var(--med_blue);
}

.customInput {
  border: 5px solid var(--light_blue);
  color: var(--med_pink);
}

.form-control:focus,
.customInput:focus {
  outline: none;
  border: 5px solid var(--light_blue);
  border-color: var(--light_blue);
  -webkit-box-shadow: none;
  box-shadow: none;
}
*:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  gap: 1em;
}
